# Data Prep and Proprocessing

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

from transaction_risk_profiler.configs import settings

matplotlib.style.use('ggplot')
%matplotlib inline
pd.set_option('display.max_columns', None)

## Load and Extract Data

In [3]:
df = pd.read_json(f'{settings.PROJECT_DIRECTORY}/{settings.DATASET_DIRECTORY}/transactions_train.json')

In [4]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,1265630400,1.263110e+09,1265594400,0,0.00,0,1.0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBRITY WEEKEN...",60,0,0,527017,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],29.0,33,1,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,1296288000,1.293833e+09,1296255600,0,868.02,0,0.0,1,n,Winthrop RUF Winter Getaway,27,23,1,786878,"<p>Since 1987, RUF has ministered to students ...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",28.0,28,0,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1388966400,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,1388534400,1.360683e+09,1360702800,0,1167.35,0,0.0,1,y,ITTA Affiliation 2013,21,39,16,885645,,0.0,,0.0,,ACH,"[{'name': '', 'created': '2010-11-09 01:10:15'...",0.0,0,0,"[{'event_id': 885645, 'cost': 25.0, 'availabil...",889,1283870102,3,,None,NaN,NaN,None,None
3,premium,1297900800,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,1297468800,1.291995e+09,1297440000,1,2313.15,0,0.0,0,y,Self Defense for Writers and Filmmakers: For A...,66,30,0,1114349,"<p><font face=""Arial""><font size=""2""><strong>T...",0.0,Arts & Business Council of Greater Boston,0.0,Arts and Business Council or Greater Boston,CHECK,[{'name': 'Arts and Business Council or Greate...,63.0,63,0,"[{'event_id': 1114349, 'cost': 150.0, 'availab...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA
4,premium,1297909800,28,5,US,USD,1.0,<p> </p>\r\n<p> </p>\r\n<p> </p>,naboe.org,1294425018,1297477800,1.294425e+09,1297468800,0,832.64,0,1.0,1,y,Fridays at Four Frederick 2011-02-11,36,12,3,1180179,"<div id=""organizer_display"">\r\n<p>Fridays at ...",0.0,NABOE Business Owner Networking,0.0,,ACH,"[{'name': '', 'created': '2011-01-12 01:12:34'...",35.0,35,1,"[{'event_id': 1180179, 'cost': 22.63, 'availab...",706,1233437951,3,6N East St,US,39.414270,-77.405089,Danielle's Restaurant,MD

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10036 entries, 0 to 10035
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   acct_type           10036 non-null  object
 1   approx_payout_date  10036 non-null  int64
 2   body_length         10036 non-null  int64
 3   channels            10036 non-null  int64
 4   country             9982 non-null   object
 5   currency            10036 non-null  object
 6   delivery_method     10023 non-null  float64
 7   description         10036 non-null  object
 8   email_domain        10036 non-null  object
 9   event_created       10036 non-null  int64
 10  event_end           10036 non-null  int64
 11  event_published     9957 non-null   float64
 12  event_start         10036 non-null  int64
 13  fb_published        10036 non-null  int64
 14  gts                 10036 non-null  float64
 15  has_analytics       10036 non-null  int64
 16  has_header          6261 non-null   float64
 17  has_logo            10036 non-null  int64
 18  listed              10036 non-null  object
 19  name                10036 non-null  object
 20  name_length         10036 non-null  int64
 21  num_order           10036 non-null  int64
 22  num_payouts         10036 non-null  int64
 23  object_id           10036 non-null  int64
 24  org_desc            10036 non-null  object
 25  org_facebook        9992 non-null   float64
 26  org_name            10036 non-null  object
 27  org_twitter         9992 non-null   float64
 28  payee_name          10036 non-null  object
 29  payout_type         10036 non-null  object
 30  previous_payouts    10036 non-null  object
 31  sale_duration       9920 non-null   float64
 32  sale_duration2      10036 non-null  int64
 33  show_map            10036 non-null  int64
 34  ticket_types        10036 non-null  object
 35  user_age            10036 non-null  int64
 36  user_created        10036 non-null  int64
 37  user_type           10036 non-null  int64
 38  venue_address       10036 non-null  object
 39  venue_country       9284 non-null   object
 40  venue_latitude      9284 non-null   float64
 41  venue_longitude     9284 non-null   float64
 42  venue_name          9284 non-null   object
 43  venue_state         9284 non-null   object
dtypes: float64(9), int64(18), object(17)
memory usage: 3.4+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
approx_payout_date,10036.0,1.350988e+09,2.404584e+07,1.173074e+09,1.334531e+09,1.355870e+09,1.370636e+09,1.523488e+09
body_length,10036.0,3.711008e+03,5.823038e+03,0.000000e+00,7.547500e+02,2.010000e+03,4.272250e+03,6.553500e+04
channels,10036.0,6.211937e+00,3.870142e+00,0.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.300000e+01
delivery_method,10023.0,4.407862e-01,5.911783e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00
event_created,10036.0,1.345827e+09,2.405512e+07,1.171223e+09,1.329837e+09,1.351039e+09,1.365204e+09,1.382012e+09
event_end,10036.0,1.350556e+09,2.404583e+07,1.172642e+09,1.334099e+09,1.355438e+09,1.370204e+09,1.523056e+09
event_published,9957.0,1.341185e+09,8.522701e+07,0.000000e+00,1.329765e+09,1.351108e+09,1.365444e+09,1.381608e+09
event_start,10036.0,1.350248e+09,2.397526e+07,1.172633e+09,1.333686e+09,1.355026e+09,1.369966e+09,1.418850e+09
fb_published,10036.0,1.300319e-01,3.363553e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
gts,10036.0,2.577367e+03,9.934350e+03,0.000000e+00,1.176650e+02,4.381050e+02,1.600000e+03,3.062939e+05
has_analytics,10036.0,7.253886e-02,2.593910e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
has_header,6261.0,2.002875e-01,4.002474e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
has_logo,10036.0,8.426664e-01,3.641331e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
name_length,10036.0,4.150827e+01,2.301270e+01,0.000000e+00,2.600000e+01,3.800000e+01,5.300000e+01,2.530000e+02
num_order,10036.0,2.907862e+01,9.989796e+01,0.000000e+00,2.000000e+00,8.000000e+00,2.400000e+01,2.000000e+03
num_payouts,10036.0,3.329882e+01,1.209634e+02,0.000000e+00,0.000000e+00,2.000000e+00,1.300000e+01,1.621000e+03
object_id,10036.0,4.529499e+06,1.987137e+06,4.812900e+04,2.902971e+06,4.579387e+06,6.064010e+06,8.792893e+06
org_facebook,9992.0,8.010208e+00,1.178743e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01,9.100000e+01
org_twitter,9992.0,4.313751e+00,6.007880e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01,2.300000e+01
sale_duration,9920.0,4.722722e+01,5.398144e+01,-1.430000e+02,1.600000e+01,3.200000e+01,5.900000e+01,8.480000e+02
sale_duration2,10036.0,5.105969e+01,5.908448e+01,-8.600000e+01,1.700000e+01,3.500000e+01,6.300000e+01,8.860000e+02
show_map,10036.0,8.436628e-01,3.631928e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
user_age,10036.0,3.706337e+02,4.172172e+02,0.000000e+00,1.200000e+01,2.370000e+02,5.960000e+02,3.689000e+03
user_created,10036.0,1.313804e+09,4.143374e+07,1.011210e+09,1.287583e+09,1.316976e+09,1.346963e+09,1.381479e+09
user_type,10036.0,2.702969e+00,1.477671e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,1.030000e+02
venue_latitude,9284.0,3.522022e+01,2.030098e+01,-4.504521e+01,3.397528e+01,3.998295e+01,4.494291e+01,6.484402e+01
venue_longitude,9284.0,-5.917931e+01,6.675323e+01,-1.580898e+02,-9.682980e+01,-7.943413e+01,-3.174649e+00,1.761683e+02

###  Initially looks like there are some datetime features, so convert those to datetime

In [7]:
datetime_features=[
    "approx_payout_date",
    "event_created",
    "event_end",
    "event_published",
    "event_start",
    "user_created",
]

df = pd.read_json(f'{settings.PROJECT_DIRECTORY}/{settings.DATASET_DIRECTORY}/transactions_train.json', convert_dates=datetime_features, date_unit="s")

In [8]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,2010-02-13 12:00:00,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,2010-01-06 01:01:46,2010-02-08 12:00:00,1.263110e+09,2010-02-08 02:00:00,0,0.00,0,1.0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBRITY WEEKEN...",60,0,0,527017,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],29.0,33,1,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,2009-11-30 20:45:50,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,2011-02-03 08:00:00,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,2010-12-31 21:57:50,2011-01-29 08:00:00,1.293833e+09,2011-01-28 23:00:00,0,868.02,0,0.0,1,n,Winthrop RUF Winter Getaway,27,23,1,786878,"<p>Since 1987, RUF has ministered to students ...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",28.0,28,0,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,2010-08-04 17:26:16,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,2014-01-06 00:00:00,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,2013-02-12 15:06:10,2014-01-01 00:00:00,1.360683e+09,2013-02-12 21:00:00,0,1167.35,0,0.0,1,y,ITTA Affiliation 2013,21,39,16,885645,,0.0,,0.0,,ACH,"[{'name': '', 'created': '2010-11-09 01:10:15'...",0.0,0,0,"[{'event_id': 885645, 'cost': 25.0, 'availabil...",889,2010-09-07 14:35:02,3,,None,NaN,NaN,None,None
3,premium,2011-02-17 00:00:00,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,2010-12-10 15:24:26,2011-02-12 00:00:00,1.291995e+09,2011-02-11 16:00:00,1,2313.15,0,0.0,0,y,Self Defense for Writers and Filmmakers: For A...,66,30,0,1114349,"<p><font face=""Arial""><font size=""2""><strong>T...",0.0,Arts & Business Council of Greater Boston,0.0,Arts and Business Council or Greater Boston,CHECK,[{'name': 'Arts and Business Council or Greate...,63.0,63,0,"[{'event_id': 1114349, 'cost': 150.0, 'availab...",35,2010-11-05 19:07:45,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA
4,premium,2011-02-17 02:30:00,28,5,US,USD,1.0,<p> </p>\r\n<p> </p>\r\n<p> </p>,naboe.org,2011-01-07 18:30:18,2011-02-12 02:30:00,1.294425e+09,2011-02-12 00:00:00,0,832.64,0,1.0,1,y,Fridays at Four Frederick 2011-02-11,36,12,3,1180179,"<div id=""organizer_display"">\r\n<p>Fridays at ...",0.0,NABOE Business Owner Networking,0.0,,ACH,"[{'name': '', 'created': '2011-01-12 01:12:34'...",35.0,35,1,"[{'event_id': 1180179, 'cost': 22.63, 'availab...",706,2009-01-31 21:39:11,3,6N East St,US,39.414270,-77.405089,Danielle's Restaurant,MD

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10036 entries, 0 to 10035
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   acct_type           10036 non-null  object
 1   approx_payout_date  10036 non-null  datetime64[ns]
 2   body_length         10036 non-null  int64
 3   channels            10036 non-null  int64
 4   country             9982 non-null   object
 5   currency            10036 non-null  object
 6   delivery_method     10023 non-null  float64
 7   description         10036 non-null  object
 8   email_domain        10036 non-null  object
 9   event_created       10036 non-null  datetime64[ns]
 10  event_end           10036 non-null  datetime64[ns]
 11  event_published     9957 non-null   float64
 12  event_start         10036 non-null  datetime64[ns]
 13  fb_published        10036 non-null  int64
 14  gts                 10036 non-null  float64
 15  has_analytics       10036 non-null  int64
 16  has_header          6261 non-null   float64
 17  has_logo            10036 non-null  int64
 18  listed              10036 non-null  object
 19  name                10036 non-null  object
 20  name_length         10036 non-null  int64
 21  num_order           10036 non-null  int64
 22  num_payouts         10036 non-null  int64
 23  object_id           10036 non-null  int64
 24  org_desc            10036 non-null  object
 25  org_facebook        9992 non-null   float64
 26  org_name            10036 non-null  object
 27  org_twitter         9992 non-null   float64
 28  payee_name          10036 non-null  object
 29  payout_type         10036 non-null  object
 30  previous_payouts    10036 non-null  object
 31  sale_duration       9920 non-null   float64
 32  sale_duration2      10036 non-null  int64
 33  show_map            10036 non-null  int64
 34  ticket_types        10036 non-null  object
 35  user_age            10036 non-null  int64
 36  user_created        10036 non-null  datetime64[ns]
 37  user_type           10036 non-null  int64
 38  venue_address       10036 non-null  object
 39  venue_country       9284 non-null   object
 40  venue_latitude      9284 non-null   float64
 41  venue_longitude     9284 non-null   float64
 42  venue_name          9284 non-null   object
 43  venue_state         9284 non-null   object
dtypes: datetime64[ns](5), float64(9), int64(13), object(17)
memory usage: 3.4+ MB

In [13]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
approx_payout_date,10036,2012-10-23 10:23:43.062973440,2007-03-05 06:00:00,2012-04-15 23:00:00,2012-12-18 22:30:00,2013-06-07 20:15:00,2018-04-11 23:00:00,NaN
body_length,10036.0,3711.00847,0.0,754.75,2010.0,4272.25,65535.0,5823.037962
channels,10036.0,6.211937,0.0,5.0,6.0,8.0,13.0,3.870142
delivery_method,10023.0,0.440786,0.0,0.0,0.0,1.0,3.0,0.591178
event_created,10036,2012-08-24 16:43:03.519330304,2007-02-11 19:36:10,2012-02-21 15:02:47,2012-10-24 00:43:18.500000,2013-04-05 23:15:15,2013-10-17 12:09:36,NaN
event_end,10036,2012-10-18 10:23:54.182941440,2007-02-28 06:00:00,2012-04-10 23:00:00,2012-12-13 22:30:00,2013-06-02 20:15:00,2018-04-06 23:00:00,NaN
event_published,9957.0,1341185430.15115,0.0,1329765385.0,1351107642.0,1365444099.0,1381608321.0,85227005.169491
event_start,10036,2012-10-14 21:00:09.505779200,2007-02-28 03:30:00,2012-04-06 04:22:30,2012-12-09 04:00:00,2013-05-31 02:07:30,2014-12-17 21:00:00,NaN
fb_published,10036.0,0.130032,0.0,0.0,0.0,0.0,1.0,0.336355
gts,10036.0,2577.366609,0.0,117.665,438.105,1600.0,306293.93,9934.350164
has_analytics,10036.0,0.072539,0.0,0.0,0.0,0.0,1.0,0.259391
has_header,6261.0,0.200287,0.0,0.0,0.0,0.0,1.0,0.400247
has_logo,10036.0,0.842666,0.0,1.0,1.0,1.0,1.0,0.364133
name_length,10036.0,41.50827,0.0,26.0,38.0,53.0,253.0,23.012703
num_order,10036.0,29.078617,0.0,2.0,8.0,24.0,2000.0,99.897963
num_payouts,10036.0,33.298824,0.0,0.0,2.0,13.0,1621.0,120.963351
object_id,10036.0,4529498.719211,48129.0,2902971.0,4579387.0,6064010.0,8792893.0,1987137.37773
org_facebook,9992.0,8.010208,0.0,0.0,0.0,14.0,91.0,11.787432
org_twitter,9992.0,4.313751,0.0,0.0,0.0,11.0,23.0,6.00788
sale_duration,9920.0,47.227218,-143.0,16.0,32.0,59.0,848.0,53.981437
sale_duration2,10036.0,51.059685,-86.0,17.0,35.0,63.0,886.0,59.084478
show_map,10036.0,0.843663,0.0,1.0,1.0,1.0,1.0,0.363193
user_age,10036.0,370.633719,0.0,12.0,237.0,596.0,3689.0,417.217186
user_created,10036,2011-08-20 01:27:44.936130048,2002-01-16 19:47:22,2010-10-20 13:58:04.750000128,2011-09-25 18:41:06.500000,2012-09-06 20:16:49,2013-10-11 08:03:57,NaN
user_type,10036.0,2.702969,1.0,1.0,3.0,3.0,103.0,1.477671
venue_latitude,9284.0,35.220219,-45.045208,33.975279,39.982948,44.942914,64.844022,20.300981
venue_longitude,9284.0,-59.17931,-158.089831,-96.829803,-79.434135,-3.174649,176.16828,66.753228

## Initial Impressions

- Looks like there are a number of text features
- ticket_types and previous_payouts contain lists, these can be converted to subarrays
- venue latitude and venue longitude are geospatial features
- listed is likely a binary feature with 'y' and 'n' corresponding to yes and no, we can encode these as binary
- fb_published, has_analytics, has_header, has_logo, show_map have min of 0 and max of 1, we can encode these as binary variables
- Some of the text features can be encoded as categorical
- org_facebook and org_twitter are likely the length of their @usernames, we can bin these and see if there is a recognizable pattern
- gts stands for gross ticket sales
- previously identified datetime features are missing values, if they missing values can be encoded as binary features
- acct_type is our target variable
- description is most definitely a text feature, will ignore for now
- object_id is a row id

In [15]:
geospatial_features = ["venue_latitude", "venue_longitude"]
text_features = ["description"]
id_columns = ["object_id"]
categorical_numerical_ignore = geospatial_features + datetime_features + text_features + id_columns

## Target our target value is acct_type
Since we are interested in identifying potentially fraudulent activity, we will predict on preimum/non-premium account types

In [16]:
df.acct_type.value_counts(dropna=False)

acct_type
premium             8656
fraudster_event      590
fraudster            315
spammer_limited      153
spammer_warn          96
tos_warn              64
spammer_noinvite      61
tos_lock              57
locked                38
fraudster_att          3
spammer_web            2
spammer                1
Name: count, dtype: int64

# Initial target encoding

In [ ]:
df["target"] = df["acct_type"].apply(lambda x: int(x != "premium"))

# Categorical and Numerical Variables

Explore what variables we can probably encode as categorical or binary variables

- We will use Counter to see how many unique values each column has
- Given that we know which columns are datetime, we can skip these and the geo_spatial features
- We can plot the features that have unique values <= 20 as bar charts to further investigate
- If > 20, let's bin, number of bins will be set the sqrt of num unique, if num unique is greater than 50

In [ ]:
for col in df.columns:
    if col not in categorical_numerical_ignore: